*{
    margin:0px;
    padding:0;
}
ul{
    list-style-type: none;
    display: flex;
    background-color:black;
    padding: 5px;
    justify-content: flex-end;
}
a{
    margin:5px;
    color:white;
    text-decoration: none;
}
a:hover{
    background-color:skyblue;
    padding:3px;
}
.active{
    background-color:darkgrey;
    padding:5px;
}